.filled svg {
  fill: var(--primary);
}

.star {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}

.rating {
  position: relative;
}

.error {
  stroke: var(--red);
}

.errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;
  color: var(--red);
}
