.reviewForm {
  display: grid;
  grid-template-columns: [start] auto 1fr auto auto [end];
  align-items: center;
  gap: 20px 30px;
  font-size: 14px;
  line-height: 24px;
}

.description {
  grid-column: start / end;
}

.title {
  justify-self: left;
}

.rating {
  gap: 20px;
  display: flex;
}

.submit {
  grid-column: start / end;
}

.info {
  margin-left: 15px;
}

.success{
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  background-color: var(--green-light);
}

.successTitle{
  font-weight: bold;
}

.close{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

}

.error{
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  background-color: var(--red-light);
}

.error .close path{
  stroke: var(--red);
}

@media screen and (max-width: 730px) {
  .reviewForm {
    grid-template-columns: [start] 1fr 1fr [end];
  }
  .rating {
    grid-column: start / end;
  }

  .title {
    justify-self: normal;
  }
}
@media screen and (max-width: 570px) {
  .reviewForm {
    grid-template-columns: [start] 1fr [end];
  }
  .rating {
    grid-column: start / end;
  }

  .title {
    justify-self: normal;
  }
}
